mat-card {
  margin:40px;
}

.myClass1 {
  font-size: 16px;
  color:limegreen;
  background-color: blueviolet;
  padding:10px;
}

.myClass2 {
  font-size: 20px;
  color:coral;
  background-color: aqua;
  padding:10px;
}

.myClass3 {
  font-size: 10px;
  color:deeppink;
  background-color: darkgoldenrod;
  padding:20px;
}

.myClass4 {
  font-size: 24px;
  color:dodgerblue;
  background-color: indigo;
  padding:5px;
}
