<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button mat-button color="primary" (click)="mapClick()">Map</button>
    <button mat-button color="primary" (click)="filterClick()">Filter</button>
    <button mat-button color="primary" (click)="tapClick()">Tap</button>
    <button mat-button color="primary" (click)="takeClick()">Take</button>
    <button mat-button color="primary" (click)="debounceTimeClick()">DebounceTime Click</button>
    <button mat-button color="primary" (click)="debounceTimeSearch()">DebounceTime Search</button>
    <button mat-button color="primary" (click)="takeWhileClick()">TakeWhile</button>
    <button mat-button color="primary" (click)="takeUntilClick()">TakeUntil</button>
</div>

<div clas="debounce-area"
matRipple matRippleCentered="true"
matRippleColor="rgb(240, 166, 166, 0.4)"
matRippleRadius="40">
    <p>TESTE</p>
</div>

<mat-divider>
</mat-divider>

<mat-form-field>
    <mat-label>Search by: </mat-label>
    <input matInput placeholder="Type something" autocomplete="off" (keyup)="searchBy_UsingDebounce($event)"
    [(ngModel)]="searchInput">
</mat-form-field>


