/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack_ok {
    background-color: #8fbc8f;
    color: #000000;
}

.snack_error {
    background-color: #ffc0cb;
    color: #000000;    
}