<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button mat-button color="primary" (click)="observableCreate()">create / observable</button>
    <button mat-button color="primary" (click)="fromClick()">from</button>
    <button mat-button color="primary" (click)="ofClick()">of</button>
    <button mat-button color="primary" (click)="intervalClick()">Interval</button>
    <button mat-button color="primary" (click)="timerClick()">Timer</button>
    <button mat-button color="primary" (click)="fromEventClick()">From Event</button>
    <button mat-button color="primary" (click)="unubscribreClick()">Unsubscribe</button>
</div>

