<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <div fxFill fxLayout="row" fxLayoutAlign="space-around start">
        <button mat-button color="warn" (click)="subscribe()">Subscribe All</button>
        <mat-spinner diameter="20" color="warn" *ngIf=subscripetionAreActive></mat-spinner>
    </div>

    <div fxFill fxLayout="column" fxLayoutAlign="space-around start">
        <button mat-button color="warn" [disabled]="!subscripetionAreActive" (click)="unsubscribe()">Unsubscribe All</button>
    </div>
</div>